.input-form {
    display: flex;
    flex-direction: column;
    border: solid;
    padding: 20px;
}

.input-container {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.input-item {
    margin: 10px 100px;
}

.input-input {
    padding: 1rem 1rem;
    border: solid lightgray 1px;
    border-radius: 25px;
    transition: all 200ms ease-in-out;
}

.input-input:hover {
    border: solid rgb(32, 206, 232) 1px;
}

.input-input:active {
    border: solid lightslategray 1px;
}

.input-button {
    border: none;
    background-color: rgb(32, 206, 232);
    padding: 1rem 2rem;
    border-radius: 25px;
    justify-content: center;
    color: white;
    font-weight: bolder;
    font-family: inherit;
    transition: all 200ms ease-in-out;
}

.input-button:hover {
    cursor: pointer;
    transform: scale(1, 1.2);
    background-color: rgb(134, 215, 227);
}

.weather-heading {
    font-family: 'Roboto', sans-serif;
}